<div class="row">
  <div class="col-12">
    <form>
      <div class="form-group mt-3">
        <input type="text" class="form-control" id="subName" placeholder="Sub"
          [(ngModel)]="post.subName" [ngModelOptions]="{ standalone: true }" />
      </div>

      <div class="form-group mt-3">
        <input type="text-area" class="form-control" id="title" placeholder="Title"
          [(ngModel)]="post.title" [ngModelOptions]="{ standalone: true }" />
      </div>

      <div class="form-group mt-3">
        <input type="url" class="form-control" id="url" placeholder="Url"
          [(ngModel)]="post.url" [ngModelOptions]="{ standalone: true }" />
      </div>

      <div class="form-group mt-3">
        <textarea class="form-control" id="body" placeholder="Body"
          [(ngModel)]="post.body" [ngModelOptions]="{ standalone: true }">
        </textarea>
      </div>

      <button type="submit" class="btn col-12 text-center float-right"
        (click)="handleSubmit()" [disabled]="waiting"
        [ngClass]="waiting ? 'btn-outline-primary' : 'btn-primary'">
        <span *ngIf="!waiting">Submit</span>
        <app-icon *ngIf="waiting" [iconName]="'faDatabase'"></app-icon>
      </button>
    </form>
  </div>
</div>
