<span *ngIf="(session$ | async).isValid; else loginCta">
  <button type="button" class="btn btn-outline-dark px-3 mr-3" (click)="logout()">
    Logout
  </button>

  <button type="button" class="btn btn-primary px-3 mr-3" routerLink="/posts/create">
    <app-icon [iconName]="'faPencilAlt'"></app-icon>
  </button>

  <button class="btn btn-outline-success px-3" [routerLink]="['/u', (session$ | async).userName]">
    <span class="mr-3">{{ (session$ | async).userName }}</span>
    <app-icon [iconName]="'faUserCircle'"></app-icon>
  </button>
</span>

<ng-template #loginCta>
  <button type="button" class="btn btn-outline-primary px-3" routerLink="/login">
    Login
  </button>
</ng-template>
